<a class="btn btn-default pull-right btn-primary" ui-sref="videos.new" role="button" ng-if="isAuthenticated()">New</a>

<table datatable="ng" dt-options="dtOptions" class="table table-bordered" ng-if="isAuthenticated()">


       <thead>
         <th>ID</th>
         
                         <th>Description</th>
                         <th>Creation_Date</th>
                         <th>Url</th>
          <th>Actions</th>


        </thead>
        <tbody>
        <tr ng-repeat=" video in videos">
            <td>{{ video.id  }}</td> 
            
                         <td>{{ video.description }}</td>
                         <td>{{ video.creation_date }}</td>
                         <td>{{ video.url }}</td>
            <td><a ui-sref="videos.edit({id:video.id })" class="btn btn-default btn-warning" role="button"  id="editButton"><i class="fa fa-edit"></i></a>
            <button class="btn btn-default btn-danger" ng-click="deleteVideo(video.id)" id="deleteButton"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>

</table>
